<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Book Finder</title>
    <link rel="icon" type="image/x-icon" href="book.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Library Book Finder</h1>
        <form id="search-form" method="POST" action="/search">
            <input type="text" name="query" placeholder="Search by name, title, year, keywords" required>
            <button type="submit">Search</button>
        </form>
        <div id="results">
            {% if books %}
                <h2>Search Results:</h2>
                <div class="results-box">
                    <ul>
                        {% for book in books %}
                            <li class="result-item">
                                <strong>{{ book.title }}</strong> by {{ book.author }} <br>
                                <span class="year-publisher">({{ book.year }}) | {{ book.publisher }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
